@import "../Variables/variables.scss";

.Home {
  min-height: 100vh;
  padding: 40px;

  .btns-container {
    position: absolute;
    right: 185px;
    top: 20px;
  }

  #see-data {
    @include flex;
    height: 70vh;
    margin-left: 15px;
  }
}
